*.ipynb linguist-documentation
kvpress/**      linguist-vendored
evaluation/**   linguist-vendored
kvzap/**        linguist-vendored
notebooks/**    linguist-vendored
tests/**        linguist-vendored
kvpress/presses/centrality_press.py -linguist-vendored
report/*.html linguist-generated
